# Dependencies
node_modules/
frontend/client/node_modules/

# Production build
dist/
frontend/client/dist/
build/

# Environment variables
.env

# Logs
*.log
error.log
npm-debug.log*

# Editor folders
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db